

$color-primary: #0096C7;   // azul oceano (header)
$color-secondary: #48CAE4; // azul claro
$color-tertiary: #FFD166;  // amarelo sol (destaque)
$color-white: #ffffff;
$color-gray: #f5f5f5;
$color-blue-light: #90E0EF; // hover suave