
@use "../../styles/colors" as c;

.footer {
    width: 100%;
    min-height: 50px;
    background-color: c.$color-primary;
    color: c.$color-white;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
}